<include file="head"/>
<ul class="nav nav-tabs">
    <li class="active"><a href="javascript:;">用户管理</a></li>
</ul>

<form action="{:U('Index/home')}" method="post" role="form" class="form-inline store-form">
    <div class="form-group">
        <input type="text" name="user_id" value="{$formget.store_id|default=''}" placeholder="用户id" class="form-control search-input">
        <input type="text" name="user_name" value="{$formget.store_name|default=''}" placeholder="用户名称" class="form-control search-input">

        <input type="submit" class="btn" value="搜索" />
        <a class="btn btn-danger" href="{:U('Index/home')}">清空</a>
    </div>
</form>
<div class="table-responsive store-table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>用户手机号</th>
                <th>用户邮箱</th>
                <th>用户注册时间</th>
                <th>用户最后登录时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <foreach name="kind" item="vo">
            <tr>
                <td>{$vo.uid}</td>
                <td>{$vo.username}</td>
                <td>{$vo.mobile}</td>
                <td>{$vo.email}</td>
                <td>{$vo.regtime}</td>
                <td>{$vo.lasttime}</td>
                <td>
                    <a href="{:U('Index/userDelete', array('id'=>$vo['uid']))}">删除</a>
                </td>
            </tr>
        </foreach>
        </tbody>
    </table>
</div>
<div class="pagination">{$page}</div>
</body>
</html>